*{ font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar {
  padding: 2em;
  justify-content: space-evenly;
  transition: transform 0.3s;
  box-shadow: 0 2px 4px black;
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: #FF5747;
  color: white;
}
.blue {
  background-color: #275db3;
  color: white;

}
.home {
  background-color: white;
  color: black;
}
.orange {
  background-color: #F58549;
  color: white;
}

.navbar:hover {
  transform: translateY(-10px);
}